[submodule "components/elliptic_solver"]
	path = components/elliptic_solver
	url = https://github.com/jbcm627/elliptic_solver
[submodule "components/cosmotrace"]
	path = components/cosmotrace
	url = https://github.com/jbcm627/cosmotrace
[submodule "components/IO/HDFIO"]
	path = components/IO/HDFIO
	url = https://github.com/cwru-pat/HDFIO
